$font-headline: var(--font-fira-sans);
$font-text: var(--font-playfair);

$light-gold: #B8A054;

.homeSectionThree {
    position: relative;
    min-height: 100vh;
    height:fit-content;
    font-family: $font-text; 
    background: rgb(6,4,29);
    background: radial-gradient(circle, rgba(6,4,29,1), rgba(45,41,37,1), rgb(14, 14, 14));
    padding: 10rem;

    @media (max-width: 40em) {
        height: 100%;
        min-height: 100svh;
        padding: 4rem 0;
     }
  }
  
  .text {
    font-size: clamp(1rem, 3vw, 4vw);
    color: rgb(234, 234, 234);
    position: relative;
    line-height: 50px;
    width: 90%;
    display: block;
    text-align: left;
    align-content: center;
    text-align: start; 

    @media (max-width: 60em) {
        line-height: 1.5;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
     }

     > span {
        color: $light-gold;
        font-size: clamp(1.5rem, 4vw, 5vw);
        line-height: 60px;
        @media (max-width: 60em) {
           
          line-height: 1;
       }
     }
  }
  
  .highlight {
    height: auto;
    width: 100px;
    border-radius: 50%;
  }

  .highlighttwo {
    height: auto;
    width: 120px;
    border-radius: 20px;
    margin: 0.2rem;

    @media (max-width: 60em) {
      height: auto;
      width: 140px;
      object-fit: contain;
      float: left;
   }
  }

  .highlightthree {
    height: 140px;
    width: 140px;
    margin: 0.2rem;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 50%;
    @media (max-width: 60em) {      
      width: 100%;
   }
  }
  