$font-headline: var(--font-fira-sans);
$font-text: var(--font-playfair);

$light-gold: #B8A054;

.homeSectionThree {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    font-family: $font-text; 
   /*  background: rgb(6,4,29);
    background: radial-gradient(circle, rgba(6,4,29,1), rgba(45,41,37,1), rgb(14, 14, 14)); */
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 40em) {
        height: 100%;
        min-height: 100svh;
        padding: 4rem 0;
     }
  }
  
  .text {
    font-size: clamp(1rem, 3vw, 4vw);
    color: rgb(234, 234, 234);
    position: relative;
    line-height: 50px;
    max-width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: block;
    text-align: center;
    

    @media (max-width: 60em) {
        line-height: 1.5;
        max-width: 90dvw;
        padding-left: 5svw;
        padding-right: 5svw;
        text-align: justify;
     }

     > span {
        color: $light-gold;
        font-size: clamp(1.5rem, 4vw, 5vw);
        line-height: 60px;
        @media (max-width: 60em) {
           
          line-height: 1;
       }
     }
  }
  
  .highlight {
    height: auto;
    width: 100px;
    border-radius: 50%;
    margin: 0.25rem;
  }

  .highlighttwo {
    height: auto;
    width: 120px;
    border-radius: 20px;
    margin: 0.25rem 0.5rem 0.25rem 0;

    @media (max-width: 60em) {
      height: auto;
      width: 140px;
      object-fit: contain;
      float: left;
   }
  }

  .highlightthree {
    height: 140px;
    width: 140px;
    margin: 0.2rem;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 50%;
    @media (max-width: 60em) {      
      width: 100%;
      height: 30rem;
      border-radius: 10px;
   }
  }
  