$font-text: var(--font-playfair);
$font-headline: var(--font-fira-sans);

$color-gradient-gold-btn: linear-gradient(120deg, #bf953f, #e1d55a, #aa771c);
$color-gradient-golds-btn: linear-gradient(120deg, #aa771c, #e1d55a, #bf953f);
$color-gradient-gold: linear-gradient(
  120deg,
  #bf953f,
  #fcf6ba,
  #b38728,
  #fbf5b7,
  #aa771c
);
$black: #000000;
$dark-gray: #131212;
$gold: #bf943f93;
$reddish: #b52f27;
$green: #4a9c45;
$light-gold: #b8a054;
$warm-earth: #a4673f;
$white: #f8f8f8;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  font-family: var(--font-playfair);
  background: radial-gradient(
    circle,
    rgba(6, 4, 29, 1),
    rgba(45, 41, 37, 1),
    rgb(14, 14, 14)
  );
  padding: 10rem;
  padding-bottom: 25rem;

  @media (max-width: 60em) {
    padding: 10rem 1rem;
    padding-bottom: 20rem;
  }
  
  .bookingHero {
    position: relative;
    width: 80%; // Ensures it takes 80% of the viewport width or container
    max-width: 80svw; // Avoids overflowing the screen
    margin: 0 auto; // Centers the grid on the page
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 columns for desktop
    gap: 2rem;
  
    @media (max-width: 60em) {
      grid-template-columns: 1fr; // Stacks images on mobile
      width: 100%; // Images take full width on mobile
      gap: 1rem; // Reduce the gap between images
    }
  
    .imageWrapper {
      position: relative;
      width: 100%; // Each grid item takes full column width
      height: auto; // Ensures proper height scaling for images
      border-radius: 20px;
      overflow: hidden; // Clips any overflow due to border-radius
  
      .image {
        display: block; // Removes inline image gaps
        width: 100%; // Images take full width of their wrapper
        height: auto; // Maintains aspect ratio
        border-radius: 20px;
        object-fit: cover; // Ensures the image covers the wrapper nicely
      }
    }
  }
  

}

.buttons {
  width: 100%;
  position: relative;
  z-index: 10;
  margin-top: 1rem;
  display: grid;
  place-content: center;
}


.btnPrimary {
  background: $color-gradient-gold-btn;
  color: #121212;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-playfair);
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
  transition: background-color 0.4s ease-in;
  &:hover {
    background: $color-gradient-golds-btn;
  }
}
