:root {
 
}

$font-headline: var(--font-fira-sans);
$font-text: var(--font-playfair);

$color-gradient-gold: linear-gradient(120deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
$black: #000000;
$dark-gray: #2e2e2e;
$gold: #BF953F;
$reddish: #b52f27;
$green: #4a9c45;
$light-gold: #B8A054;
$warm-earth: #a4673f;
$white: #f8f8f8;



@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: $dark-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
