:root {
 
}

$font-headline: var(--font-fira-sans);
$font-text: var(--font-playfair);

$color-gradient-gold: linear-gradient(120deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
$black: #000000;
$dark-gray: #0d0d0d;
$gold: #BF953F;
$reddish: #b52f27;
$green: #4a9c45;
$light-gold: #B8A054;
$warm-earth: #a4673f;
$white: #f8f8f8;



@media (prefers-color-scheme: dark) {
  :root {
   
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
}

body {
  color: $white;
  background: rgb(2,0,36);
  background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgb(24, 23, 27) 66%, rgb(30, 29, 33) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  color: inherit;
  text-decoration: none;
}
