$font-text: var(--font-playfair);
$font-headline: var(--font-fira-sans);

$color-gradient-gold-btn: linear-gradient(120deg, #bf953f, #e1d55a, #aa771c);
$color-gradient-golds-btn: linear-gradient(120deg, #aa771c, #e1d55a, #bf953f);
$color-gradient-gold: linear-gradient(
  120deg,
  #bf953f,
  #fcf6ba,
  #b38728,
  #fbf5b7,
  #aa771c
);
$black: #000000;
$dark-gray: #131212;
$gold: #bf953f;
$reddish: #b52f27;
$green: #4a9c45;
$light-gold: #b8a054;
$warm-earth: #a4673f;
$white: #f8f8f8;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  font-family: var(--font-playfair);
  background: radial-gradient(
    circle,
    rgba(6, 4, 29, 1),
    rgba(45, 41, 37, 1),
    rgb(14, 14, 14)
  );
  padding: 6rem 10rem 10rem;
  padding-bottom: 25rem;

  @media (max-width: 60em) {
    padding: 4rem 2rem;
    padding-bottom: 20rem;
  }

  .imageTop {
    object-fit: cover;
    height: 100%;
    width: 680px;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));

    @media (max-width: 80em) {
      width: 80vw;
      height: auto;
    }
  }

  .blackoutHero {
    position: relative;
    height: 100vh;
    width: 100%;
    margin-bottom: 6rem;

    @media (max-width: 60em) {
      height: 80vh;
    }

    .header {
      position: relative;
      margin: 0 auto;
      width: 60%;
      height: 80vh;
      border-radius: 20px;
      text-align: center;

      @media (max-width: 80em) {
        width: 95%;
        height: 70vh;
      }
    }

    .image {
      object-fit: contain;
      height: 100%;
      width: 100%;

      @media (max-width: 80em) {
        object-fit: contain;
      }
    }

    .btn {
      position: relative;
      margin-top: 2rem;
      background-color: white;
      display: inline-block;
      cursor: pointer;
      color: black;
      font-family: $font-headline;
      font-size: 16px;
      padding: 16px 32px;
      border-radius: 20px;
      text-decoration: none;
      text-transform: uppercase;
      z-index: 2;
      transition: all 0.4s ease-in;
    }
    .btn:hover {
      background-color: black;
      color: white;
      border: 1px solid white;
    }

    .credit {
      position: relative;
      cursor: pointer;
      z-index: 100;

      @media (max-width: 40em) {
        left: 0;
        top: 5vh;
      }
    }
    .credit a {
      position: relative;
      color: #dcdbdb;
      text-decoration: none;
      font-family: $font-text;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.225);

      @media (max-width: 40em) {
        left: 5%;
      }
    }

    .credit a:hover {
      color: #b8a054;

      @media (max-width: 40em) {
        color: #000000;
      }
    }

    .credit:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform-origin: bottom right;
      transition: transform 1s ease-out;
    }
    .credit:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    sup {
      font-size: 1vw;
    }
  }
}

.buttons {
  width: 100%;
  position: relative;
  z-index: 10;
  margin-top: 4rem;
  display: grid;
  place-content: center;
}

.btnPrimary {
  background: $color-gradient-gold-btn;
  color: #121212;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-playfair);
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
  transition: background-color 0.4s ease-in;
  &:hover {
    background: $color-gradient-golds-btn;
  }
}
