.page {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    font-family: var(--font-fira-sans);
    background: radial-gradient(circle, rgba(6,4,29,1), rgba(45,41,37,1), rgb(14, 14, 14));
    padding: 10rem;

    h1 {
        width: 100%;
        margin-top: 200px;
        text-align: center;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .page {
    }
  }
  