.aboutSection {
    position: relative;
   height: 100dvh;
    width: 100%;
    font-family: time;
    margin-bottom: 20vh;

    @media (max-width: 40em) {
        height: 200dvh;
        margin-bottom: 0;
              }

  
  .coverDrop {
    height: 100%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
  
    .coverPic {
        position: absolute;
        left: 20vw;
        top: 10vh;
        z-index: -1;
        object-fit: contain;
        object-position: top center;
        height: 100svh;
        width: 100%;
        border-radius: 20px;
        animation: move 10s ease-in infinite alternate;
        opacity: 0.5;
     
      
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-size: 100% 100%;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Safari */
        -webkit-mask-size: 100% 100%;
      }
  
    @keyframes move {
      25% {
        transform: translateY(-2px);
      }
      50% {
        transform: translateY(3px);
      }
      75% {
        transform: translateY(3px);
      }
      100% {
        transform: translateY(2px);
      }
    }
  
    .ingrHead {
      position: relative;
      font-size: clamp(2rem, 4vw, 5.5vw);
      margin-top: 20vh;
      left: 60px;
      text-align: left;
      line-height: 60px;
      z-index: 1;

      @media (max-width: 40em) {
line-height: 40px;
left: 1rem;
      }

      > span {
        margin-top: 1rem;
      }
    }
  
    .ingrAbout {
      font-size: clamp(1rem, 2vw, 0.9vw);
      color: rgb(255, 255, 255);
      text-shadow: 5px 5px 5px rgba(0,0,0,.225);
      position: absolute;
      text-align: left;
      font-family: Arial, sans-serif;
      margin-top: 17%;
      left: 60px;
      line-height: 1.7;
      z-index: 1;
      max-width: 60%;

      @media (max-width: 40em) {
        max-width: 90%;
        left: 1rem;
        position: relative;
              }
    }
  
  }
}