.video {
    position: relative;
    max-width: 100%;
    height: 100svh;
    font-family: times, serif;
    background-color: #20201f;
    z-index: -1;

    @media (max-width: 40em) {
      height: fit-content;
      
  }
  }
  
  .videoPlayer {
    object-fit: cover;
    object-position: center 10%;
    width: 100%;
    height: auto;
  }
  