$light-gold: #B8A054;

.paragraph{
    display: flex;
    font-size: clamp(1.25rem, 2vw, 3rem);
    line-height: 1;
    padding: clamp(20px, 5vw, 40px);
    max-width: 980px;
    color: white;
    flex-wrap: wrap;
    font-family: var(--font-playfair);

    .word{
      position: relative;
      margin-right: 12px;
      margin-top: 12px;
      
      .shadow{
        position: absolute;
        opacity: 20%;
      }
    }

  .specialWord {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    color: $light-gold; // Customize this to your desired special word color
    font-weight: bold; // Add any other desired styling for special words
    font-size: clamp(2.25rem, 2vw, 3.25rem);
    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}