$gold: #BF953F;
$reddish: #8a1a15;
$green: #237b1e;
$light-gold: #B8A054;
$warm-earth: #a4673f;

$font-headline: var(--font-fira-sans);
$font-text: var(--font-playfair);

.homeSectionOne {
    max-width: 100%;
    height: 100vh;
    font-family: time; 
  /*   background: rgb(2,0,36); */
   /*  background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgb(24, 23, 27) 66%, rgb(30, 29, 33) 100%); */
    position: relative; 

    @media (max-width: 60em) {
     height: 80dvh;
     margin-bottom: 14dvh;
  }
  }
  
  .tagline {
    position: absolute;
    color: white;
    font-family: $font-text;
    font-size: clamp(3rem, 3vw, 5vw);
    margin-top: 6%;
    left: 30vw;

    @media (max-width: 60em) {
      font-size: clamp(1.55rem, 2vw, 1vw);
        margin-top: 20vh;
        left: 1rem;
       color: white;
       font-weight: 700;
       text-shadow: 1px 2px black, 5px 5px 5px rgba(0, 0, 0, 0.579);
       z-index: 10;
    }
  }
  
  .aboutHead {
    max-width: 25svw;
    position: absolute;
    font-size: clamp(1rem, 2vw, 1.6vw);
    font-family: $font-text;
    color: $light-gold;
    margin-top: 12%;
   left: 30svw;
    line-height: 1.2;
    z-index: 10;
    font-weight: 600;

    @media (max-width: 40em) {
      max-width: 40svw;
        margin-top: 30vh;
        text-shadow: 1px 1px rgb(40, 17, 77), 5px 5px 5px rgba(0, 0, 0, 0.579);
        line-height: 1.2;
        left: unset;
        right: 1rem;
        transform: translateX(0);
        z-index: 100;
    }
  }
  
  .aboutDes {
    position: absolute;
    font-size: clamp(1rem, 2vw, 1.6vw);
    font-family: $font-text;
    margin-top: 27.5%;
    left: 30svw;
    max-width: 25svw;
    @media (max-width: 40em) {
       left: 10%;
       margin-top: 75vh;
       z-index: 100;
       background-color: $warm-earth;
       padding: 0.5rem 1rem;
       color: white;
       max-width: 80svw;
       border-radius: 10px;
    }
  }
  
  /* === Image Classes (Renamed) === */
  .imageOne {
    position: absolute;
    height: auto;
    width: 200px;
    border-radius: 10px;
    margin-top: 3%;
    left: 20%;
    animation: move 10s ease-in infinite alternate;

    @media (max-width: 40em) {
        width: 110px;
        margin-top: -10%;
        left: 1%;
        z-index: 2;
    }
  }
  
  .imageTwo {
    position: absolute;
    height: auto;
    width: 150px;
    border-radius: 10px;
    margin-top: 2.5%;
    left: 67.5%;
    animation: move 10s ease-in infinite alternate;
    @media (max-width: 40em) {
        width: 120px;
        margin-top: 6%;
        left: 65%;
        z-index: 1;
    }
  }
  
  .imageThree {
    position: absolute;
    height: auto;
    width: 450px;
    border-radius: 10px;
    margin-top: 17.5%;
    left: 2%;
    z-index:20;
    animation: bounce 6s ease-in infinite alternate;
    @media (max-width: 40em) {
        width: 220px;
        margin-top: 80%;
        left: -16vw;
        
    }
  }
  
  .imageFour {
    position: absolute;
    height: auto;
    width: 320px;
    border-radius: 10px;
    margin-top: 20%;
    left: 75%;
    animation: bounce-reverse 10s ease-in infinite alternate;
    @media (max-width: 40em) {
        margin-top: 47.5vh;
        width: 120px;
        left: 60%;
        z-index: 1;
    }
  }
  
  @keyframes move {
    25% {
      transform: translateY(-2px);
    }
    50% {
      transform: translateY(3px);
    }
    75% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(2px);
    }
  }

  @keyframes bounce {
    25% {
      transform: translateY(-3px);
    }
    50% {
      transform: translateY(4px);
    }
    75% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(2px);
    }
  }

  @keyframes bounce-reverse {
    25% {
      transform: translateY(3px);
    }
    50% {
      transform: translateY(-4px);
    }
    75% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(-2px);
    }
  }
  