$font-text: var(--font-playfair);

.yanko {
  position: relative;
  min-height: 100vh;
  font-family: $font-text;
  padding:  6rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 980px) {
    padding: 3rem 2rem;
  }

  > div {
    display: flex;
  flex-direction: row;
  align-items: flex-start;

  @media (max-width: 980px) {
    flex-direction: column-reverse;
  }
  }

  .image {
    height: auto;
    margin-left: -10rem;
    width: 40%;
    border-radius: 5px;
    padding: 2rem;
    opacity: 0;
    transform: translateY(-200px); 
    filter: drop-shadow(10px 10px 1px rgba(244, 47, 8, 0.782))
      drop-shadow(10px 10px 0px rgb(15, 93, 8));

    @media (max-width: 1400px) {
      width: 40%;
      margin-left: 5%;
    }

    @media (max-width: 980px) {
      width: 90%;
      margin-left: 5%;
    }
  }

  .text {
    font-size: clamp(1.25rem, 4vw, 3vw);
    color: rgb(234, 234, 234);
    line-height: 60px;
    width: 60%;
    margin-left: 20%;
    margin-left: 5%;
    opacity: 0;
    transform: translateY(200px); 
    @media (max-width: 980px) {
      width: 90%;
      line-height: 1.5;
      margin-left: 5%;
    }

    > span {
      color: #f29100;
      font-size: 6rem;
      @media (max-width: 60em) {
        font-size: 2rem;
      }
    }
  }

  .buttons {
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: 4rem;
    display: grid;
    place-content: center;
  }


.btnPrimary {
  background: #f29100;
  color: #121212;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--font-playfair);
  transition: background-color 0.4s ease-in;
  &:hover {
    background:#206d2a;
  }
}

}
